<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">

<!--Data tables -->
<link rel="stylesheet" type="text/css" href="datatables/plugins/bootstrap/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="datatables/extensions/Buttons/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="datatables/extensions/Buttons/css/buttons.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="select2/select2.min.css">



<table id="example" class="table table-striped table-bordered" width="100%" cellspacing="1" cellpadding="1">

    <thead>
    <tr>
        <th>
            <div class="checker"><input id="select-all" type="checkbox"></div>
        </th>
        <th>Visa ID</th>
        <th>Visa Country</th>
        <th>Visa GroupName</th>
        <th>Visa Group Name Update Time</th>
        <th>Visa Type</th>
        <th>Visa Type Entry Update Time</th>
        <th>Visa Type Entry</th>
        <th>Visa Agent</th>
        <th>Visa Submit By Other</th>


    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>


    </tr>
</tbody>





</table>


<!-- New Visa Modal -->
<div class="modal fade" id="create-visa-modal" tabindex="-1" role="dialog">
    <form action="#" class="form-horizontal" name="newCampaignForm" id="newCampaignForm">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Visa</h4>
                </div>
                <div class="modal-body">
                    <!--<div class="alert alert-danger display-hide">-->
                        <!--<button class="close" data-close="alert"></button>-->
                        <!--You have some form errors. Please check below.-->
                    <!--</div>-->

                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Country<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="country" id="country"/>
                            <span class="help-block">Provide Country for Visa</span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Group Name<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaGroupName" id="visaGroupName"/>
                            <span class="help-block">Provide Visa Group Name</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Type<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaType" id="visaType"/>
                            <span class="help-block">Provide Visa Type</span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Type Entry<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaTypeEntry" id="visaTypeEntry"/>
                            <span class="help-block">Provide Visa Type Entry</span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Agent<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaAgent" id="visaAgent"/>
                            <span class="help-block">Provide Visa Agent</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Submit By Other<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaSubmitByOther" id="visaSubmitByOther"/>
                            <span class="help-block">Provide Visa Submit By Other</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Que Appoinnt<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaQueAppoinnt" id="visaQueAppoinnt"/>
                            <span class="help-block">Provide Visa Que Appoinnt</span>
                        </div>
                    </div>



                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Approve Period<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaQueAppoinnt" id="visaApprovePeriod"/>
                            <span class="help-block">Provide Visa Approve Period</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Real Price<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaRealPrice" id="visaRealPrice"/>
                            <span class="help-block">Provide Visa Real Price</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Official Agent Charge<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaOfficialAgentCharge" id="visaOfficialAgentCharge"/>
                            <span class="help-block">Provide Visa Official Agent Charge</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Supplier Charge<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaSupplierCharge" id="visaSupplierCharge"/>
                            <span class="help-block">Provide Visa Supplier Charge</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa  Supplier<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaSupplier" id="visaSupplier"/>
                            <span class="help-block">Provide Visa Supplier</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Selling Price<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaSellingPrice" id="visaSellingPrice"/>
                            <span class="help-block">Provide Visa Selling Price</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Remark<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaRemark" id="visaRemark"/>
                            <span class="help-block">Provide Visa Remark</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Update Date Char<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaUpdateDateChar" id="visaUpdateDateChar"/>
                            <span class="help-block">Provide Visa Update  Date Char</span>
                        </div>
                    </div>




                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Update Date<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaUpdateDate" id="visaUpdateDate"/>
                            <span class="help-block">Provide Visa Update Date</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Visa Update By<span class="required">
													* </span></label>
                        <div class="col-md-5">
                            <input type="text"  class="form-control" name="visaUpdateBy" id="visaUpdateBy"/>
                            <span class="help-block">Provide Visa Update By</span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="btn-visa-save" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Start delete confirmation -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the selected items?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-delete">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- End delete modal -->


<script src="jquery.min.js"></script>
<!--<script src="jquery.dataTables.min.js"></script>-->
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script src="datatables/media/js/jquery.dataTables.min.js"></script>

<script src="datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>

<script src="datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>



<!-- datatables buttons -->
<script src="datatables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
<!--<script type="text/javascript" language="javascript" src="base/plugins/jszip/jszip.min.js"></script>-->
<!--<script type="text/javascript" language="javascript" src="base/plugins/pdfmake/pdfmake.min.js"></script>-->
<script type="text/javascript" language="javascript" src="vfsfonts/vfsfonts.js"></script>
<script src="datatables/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="datatables/extensions/Buttons/js/buttons.colVis.min.js"></script>
<script src="datatables/extensions/checkbox/dataTables.checkboxes.min.js"></script>

<script src="app.js"></script>